#position-list {
    list-style: none;
    text-align: start;
    border-style: solid;
    border-top: 5px;
} #position-list a {
    text-decoration: none; 
    padding: 10px;
    color: black;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    padding: 17px;
    color: black;
    font-weight: 900;
    border: 60px;
    border-color: black;
    background-color: aliceblue;
    border-radius: 50px;
    margin:  0px 45px 30px 15px;
} #position-list ul {
    margin-left: 250px;
    display: inline-flex;
    padding: 0px 10px;
    background-color: white;
    border-color: black;
    border: 10px;
    margin-bottom: 40px;
} #position-list li {
    list-style: none;
}